@import "_mix.scss";
@import "_var.scss";

// --------панель навигации header--------

.header {
  width: 100%;
  height: 75px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 380px;
  &__search {
    width: 111px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__basket {
    width: 159px;
    height: 29px;
    display: flex;
    justify-content: space-between;
  }
  &__img-glass {
    width: 26px;
    height: 26.79px;
  }
}

// ----------------баннер компании---------------

.banner {
  width: 100%;
  height: 764px;
  background-color: #f1e4e6;
  display: flex;
  align-items: center;
  margin-bottom: 65px;

  &__block-img {
    width: 800px;
    height: 764px;
  }

  &__img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  &__brand {
    display: flex;
    width: 405px;
    height: 93px;
    gap: 18px;
    margin: 0 0 90px 65px;
  }
  &__rectangle {
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
  }
  &__right-block {
  }

  &__title {
    @include ff-main($ff, $fw-9);
    font-size: 48px;
    line-height: 57.6px;
    color: #222222;
  }
  &__text {
    @include ff-secondary($ff, $fw-7);
    font-size: 32px;
    line-height: 38.4px;
    &--span {
      color: $rc;
    }
  }
}
//  <!-- -----------секция предложения---------- -->

.offer {
  width: 71%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 260px 180px;
  justify-items: center;
  gap: 30px;
  margin: auto;
  margin-bottom: 100px;

  &__card {
    width: 100%;
    &:hover {
      border: 3px solid $rc;
    }
  }

  &__card--women {
    background-image: url(/img/offer/card_1.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  &__price {
    background-color: rgba(33, 22, 22, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__text {
    @include ff-last($ff, $fw-4);
    line-height: 19.2px;
    color: $wc;
  }
  &__title {
    @include ff-secondary($ff, $fw-7);
    font-size: 24px;
    line-height: 28.8px;
    color: $rc;
  }
  &__card--man {
    background-image: url(/img/offer/card_2.png);
  }
  &__card--child {
    background-image: url(/img/offer/card_3.png);
  }
  &__card--bottom {
    grid-column: span 3;
    background-image: url(/img/offer/card_4.png);
  }
}

// <!-- --------------------продукты------------------------ -->

.product {
  width: 1140px;
  height: 1395px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 75px 581px 581px 210px;
  gap: 30px;

  margin: auto;
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: span 3;
  }
  &__heading {
    @include ff-last($ff, $fw-4);
    font-size: 30px;
    line-height: 36px;
  }
  &__text {
    @include ff-last($ff, $fw-4);
    font-size: 14px;
    line-height: 16.8px;
    color: #5d5d5d;
  }
}
