.header {
  width: 100%;
  height: 75px;
  background-color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 380px;
}
.header__search {
  width: 111px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.header__basket {
  width: 159px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__img-glass {
  width: 26px;
  height: 26.79px;
}

.banner {
  width: 100%;
  height: 764px;
  background-color: #f1e4e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 65px;
}
.banner__block-img {
  width: 800px;
  height: 764px;
}
.banner__img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}
.banner__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 405px;
  height: 93px;
  gap: 18px;
  margin: 0 0 90px 65px;
}
.banner__rectangle {
  width: 12px;
  height: 92px;
  background-color: #f16d7f;
}
.banner__title {
  font-family: Lato, sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 57.6px;
  color: #222222;
}
.banner__text {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 38.4px;
}
.banner__text--span {
  color: #f16d7f;
}

.offer {
  width: 1140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 260px 30px 180px;
  grid-template-rows: 260px 180px;
  justify-items: center;
  margin: auto;
  gap: 30px;
}

.offer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.offer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.offer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.offer > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.offer > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.offer > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
.offer__card {
  width: 100%;
}
.offer__card--women {
  background-image: url(/img/offer/card_1.png);
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__price {
  background-color: rgba(33, 22, 22, 0.7);
  width: 100%;
  height: 100%;
}
.offer__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer__text {
  font-family: Lato, sans-serif;
  font-weight: 400;
  line-height: 19.2px;
  color: #ffffff;
}
.offer__title {
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28.8px;
  color: #f16d7f;
}