@import "_mix.scss";
@import "_var.scss";

// --------панель навигации header--------
.container {
  width: 100%;
  height: 75px;
  background-color: #222222;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__search {
    width: 111px;
    height: 38px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__basket {
    width: 159px;
    height: 29px;
    display: flex;
    justify-content: space-between;
  }
  &__img-glass {
    width: 26px;
    height: 26.79px;
  }
}
